@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font: 16px '맑은 고딕';
}
ol, ul {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: #000;
}
strong {
    display: block;
}
img {
    vertical-align: middle;
}
address {
    font-style: normal;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;
}
p {
    font-size: 18px;
}
footer,
nav,
main,
section,
footer {
    display: block;
}