@charset "UTF-8";

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
h2.title {
    margin-bottom: 30px;
    color: #3f51b5;
    font-size: 1.875rem;
    text-align: center;
}
.we-are,
.blog,
.contact {
    margin: 60px 30px 0;
    padding-bottom: 60px;
}
/*========== header ===========*/
header {
    position: relative;
    width: 100%;
}
.logo {
    padding: 10px 20px;
    color: #3f51b5;
    font-size: 1.25rem;
}
/* mobile-gnb */
.mobile-gnb > ul {
    position: absolute;
    right: 20px; top: 50%;
    transform: translateY(-50%);
}
.mobile-gnb > ul > .mobile-menu {
    width: 20px;
    height: 5px;
    border-bottom: 2px solid #3f51b5;
}
/* main-menu */
.main-menu .gnb > .gnb-list {
    display: none;
}


@media all and (min-width:768px) {
    .mobile-gnb > ul > .mobile-menu {
        display: none;
    }
    .main-menu .gnb {
        position: absolute;
        right: 20px; top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 400px;
    }
    .main-menu .gnb > .gnb-list {
        display: block;
    }
    .main-menu .gnb > .gnb-list > a {
        color: #3f51b5;
        font-size: 0.875rem;
    }
}

@media all and (min-width:1440px) {
    .logo {
        padding: 20px 30px;
    }
    .main-menu .gnb {
        right: 30px;
    }
}


/*=========== main ==========*/
main {
    width: 100%;
}
/* slide */
.slide-txt {
    font-size: 0;
}
.slide > img {
    width: 100%;
}

/* we-are */
.we-are {
    border-bottom: 1px solid #ccc;
}
.we-are-decs {
    text-align: center;
}
.we-are-list {
    margin-top: 70px;
}
.we-are-list > div.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background-color: aquamarine;
}
.we-are-list > .list > a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.we-are-list > .list img {
    height: 50px;
}
.we-are-list > .list h3 {
    margin: 15px 0;
    color: #3f51b5;
    text-align: center;
}
.we-are-list > div > p {
    text-align: center;
} 

.work-list img {
    width: 100%;
}