@charset "UTF-8";

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
h2.title {
    margin-bottom: 30px;
    color: #3f51b5;
    font-size: 1.875rem;
    text-align: center;
    /* background-color: aquamarine; */
}

/*===== header =====*/
header {
    position: relative;
    width: 100%;
    /* background-color: bisque; */
}
.logo {
    padding: 20px 30px;
    color: #3f51b5;
    font-size: 1.25rem;
    /* background-color: blue; */
}
/* mainmenu */
.mobile-gnb > ul {
    position: absolute;
    right: 30px; top: 50%;
    transform: translateY(-50%);
}
.mobile-gnb > ul > .mobile-menu {
    width: 20px;
    height: 5px;
    border-bottom: 2px solid #3f51b5;
}
.mainmenu .gnb > .gnb-list {
    display: none;
}

@media all and (min-width:768px) {
    .logo {
        padding: 20px 40px;
    }
    .mobile-gnb > ul > .mobile-menu {
        display: none;
    }
    .mainmenu .gnb {
        position: absolute;
        right: 40px; top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        width: 400px;
    }
    .mainmenu .gnb > .gnb-list {
        display: block;
    }
    .mainmenu .gnb > .gnb-list > a {
        color: #3f51b5;
    }
}
@media all and (min-width:1024px) {
    .logo {
        padding: 20px 50px;
    }
    .mainmenu .gnb {
        right: 50px;
    }
}

/*===== main =====*/
section {
    margin: 60px 30px;
}
/* slide */
.slide > h2 {
    font-size: 0;
}
.slide > img {
    width: 100%;
}
/* we-are */
.we-are {
    padding-bottom: 60px;
    border-bottom: 1px solid #ccc;
    /* background-color: blanchedalmond; */
}
.we-are-decs {
    margin-bottom: 30px;
    text-align: center;
    background-color: blanchedalmond;
}
.we-are-list > div {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    /* background-color: aquamarine; */
}
.we-are-list > div > a > h3 {
    margin: 20px 0;
    color: #3f51b5;
    text-align: center;
}
.we-are-list > div > p {
    text-align: center;
}